.header {
  transition: all 0.5s;

  &__contacts {
    display: flex;
    align-items: center;
  }

  .nav-link {
    font-weight: 400;
    color: $dark-gray;
  }

  &__telegram {
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
    }
  }

  &__phone {
    margin-right: 3rem;
    font-weight: 400;
    a {
      color: $dark-gray;
      &:hover {
        color: $pink;
      }
    }

 

  }

  &__menu {
    .nav-item {
      margin-right: 3.125rem;

      &:last-child {
        margin-right: 0;
      }


    }

    .nav-link {
      transition: all 0.3s ease-in-out 0s;
      position: relative;


      &:hover {
        color: $pink;
      }












    }




  }


}



.navbar-brand {
  margin-right: 3.75rem;
  img {
    max-width: 180px;
    width: 100%;
  }
}


